{% load static %}
<a class="navbar-brand" href="#">
    {% comment %} <i class="fa-solid fa-wrench fa-1x icon-custom"></i> {% endcomment %}
    {% comment %} <img src="{% static 'images/logo_car.png' %}" alt="" width="50px" height="60px" class="py-0 pb-3"> {% endcomment %}
    <img src="{% static 'images/logo.png' %}" alt="Logo" width="50px" height="48px" class="py-0 pb-1 ">
    Getión Automotriz
</a>
<button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
</button>