{% extends base_template %}
{% load static %}

{% block title %}
<section class="title text-primary container text-center mt-5 my-3 flex-shrink-0">
    <h1 class="">{{ index_title.0.title_header }}</h1>
</section>
{% endblock title %}

{% block main %}
{% comment %} {% if base_template == 'base/base.html' %} {% endcomment %}
<section class="container border rounded shadow p-4 mb-5">
    <h3 class="text-center mb-4">~Test de APP~</h3>
    <div class="col-md-12 ">
        <div class="card-body text-center border rounded mb-2">

        <p class="card-text">Para probar el sistema puede ingresar con dos usuarios previamente registrados en la base de datos.</p>
        
        <article class="table-responsive rounded">
            <table class="table table-hover w-50 mx-auto">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cliente</td>
                        <td>prueba123</td>
                    </tr>
                    <tr>
                        <td>recepcionista</td>
                        <td>prueba123</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>admin</td>
                    </tr>
                </tbody>
            </table>
        </article>
        </div>
    </div> 

    <h3 class="text-center mb-4">~{{ index_title.1.title_header }}~</h3>
    
    {% for index in index_description %}
        <div class="card mb-3" style="max-width: 1540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% comment %} <a href="{% static 'images/mantenimiento.PNG' %}" target="_blank">
                        <img src="{% static 'images/mantenimiento.PNG' %}" class="img-fluid img-thumbnail rounded-start" alt="{{ index.title }}">
                    </a> {% endcomment %}
                    <a href="{{ index.image_description.url }}" target="_blank">
                        <img src="{{ index.image_description.url }}" class="img-fluid img-thumbnail rounded-start" alt="{{ index.title }}">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ index.title }}</h5>
                        <p class="card-text">{{ index.description }}</p>
                        <p class="card-text">
                            {% if index.have_constant %}
                                <small class="text-muted">{{ index.description_small }} {{ index.points_value }}</small>
                            {% else %}
                                <small class="text-muted">{{ index.description_small }}</small>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</section>

    {% comment %} <hr><hr><hr>

    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <a href="{% static 'images/mantenimiento.PNG' %}" target="_blank">
                <img src="{% static 'images/mantenimiento.PNG' %}" class="img-fluid img-thumbnail rounded-start" alt="mantenimiento">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Agendar y reservar citas de mantenimiento</h5>
            <p class="card-text">Este sistema le permitirá planificar y agendar citas de mantenimiento para servicios tanto correctivos como preventivos, brindándoles la flexibilidad de elegir una hora conveniente para llevar a cabo el trabajo en sus vehículos. Además de eso podran elegir el mecánico y la sucursual segun sus gustos y preferencias.</p>
            <p class="card-text"><small class="text-muted">Podra registrar más de un vehículo.</small></p>
            </div>
        </div>
        </div>
    </div>
    
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4 ">
                <a href="{% static 'images/checklist.PNG' %}">
                    <img src="{% static 'images/checklist.PNG' %}" class="img-fluid img-thumbnail rounded-start " alt="checklist">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Visualizar el estado de tu vehículo</h5>
                    <p class="card-text">Al ingresar su vehículo al sistema y reservar una cita, podra revisar diariamente el estado de su vehículo, viendo los servicios que estan en proceso y finalizados, además de un listado de caracteristicas fundamentales de su vehículo.</p>
                    <p class="card-text"><small class="text-muted">Detalles de servicios, presupuesto y checklist.</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% static 'images/cupon.png' %}">
                    <img src="{% static 'images/cupon.png' %}" class="img-fluid img-thumbnail rounded-start" alt="cupon">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Descuentos exclusivos</h5>
                    <p class="card-text">Con cada mantenimiento que realize con esta aplicación podrá conseguir puntos. Con una acumulación de cierta cantidad de puntos podrá canjear un cupón para tener descuentos del 10% en su proximo mantenimiento.</p>
                    <p class="card-text"><small class="text-muted">Puntos para canjear cupón: {{ POINTS }} </small></p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center mb-4">~Interfáz Recepcionista~</h3>
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% static 'images/user_mechanic.png' %}">
                    <img src="{% static 'images/user_mechanic.png' %}" class="img-fluid rounded-start" alt="user_mechanic">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Gestionar mecánicos</h5>
                    <p class="card-text">El sistema le permitirá gestionar los mecanicos del taller, pudiendo agregar, modificar o eliminar en caso de ser necesario.</p>
                    <p class="card-text"><small class="text-muted">Se puede añadir imágen tipo carnet, o se usara una por defecto.</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% static 'images/list_jobs.png' %}">
                    <img src="{% static 'images/list_jobs.png' %}" class="img-fluid rounded-start" alt="list_jobs">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Gestionar citas de mantenimiento</h5>
                    <p class="card-text">El sistema tendra 5 intefaces para el control de citas. Citas pendientes las cuales aun no tienen una descripcion detallada. Cita diaria muestra las citas registradas en el día actual. Citas en proreso muestra listado de todas las citas. Citas finalizadas o canceladas. Y por ultimo un buscador para citas por patente o número de cita.</p>
                    <p class="card-text"><small class="text-muted">Botones para agregar descripcion y servicios, boton para modificar estado de checklist, y botones para cancelar cita o finalizar (Estos 2 ultimos se activan o desactivan según el estado del vehículo)</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% static 'images/state_job.PNG' %}">
                    <img src="{% static 'images/state_job.PNG' %}" class="img-fluid rounded-start" alt="state_job">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Gestionar estado de vehículo</h5>
                    <p class="card-text">El sistema tendra 2 opciones para agregar detalles, descripciones y srevicios y otra para modificar el estado del vehículo por medio de un checklist.</p>
                    <p class="card-text"><small class="text-muted">Este sistema mostrara en tiempo real el estado del vehículo al cliente.</small></p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}



{% comment %} {% else %} {% endcomment %}

{% comment %} {% endif %} {% endcomment %}

{% endblock main %}




