{% extends 'base_recepcionist.html' %}

{% block header %}
    <h1>Listado de Trabajos Finalizados</h1>
{% endblock header %}

{% block content %}

    {% if list_jobs %}

        <article class="table-responsive rounded">
            <table class="table table-hover">
                <thead class="table-dark">
                    {% include 'components/table_header_finished.html' %}
                </thead>
                <tbody>
                    {% for job in list_jobs %}
                    {% if job.appointment.date_finished and job.status.id == 7 or job.status.id == 8 %}
                    {% include 'components/table_finished.html' with job=job %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>

    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error }}</li>
    {% endif %}



{% endblock content %}