{% extends 'base_recepcionist.html' %}
{% load static %}

{% block header %}
    <h1>Listado de trabajos en proceso de ejecución</h1>
{% endblock header %}

{% block content %}

    {% if list_jobs %}
        
        <article class="table-responsive rounded">
            <table class="table table-hover">
                <thead class="table-dark">
                    {% include 'components/table_jobs/table_header_jobs.html' %}
                </thead>
                <tbody>
                    {% for job in list_jobs %}
                    {% if not job.appointment.completed and job.appointment.inprogress %}
                    {% include 'components/table_jobs/table_jobs.html' with job=job %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>
        
    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error }}</li>
    {% endif %}


{% endblock content %}


{% comment %} {% block script %} {% endcomment %}
    {% comment %} <script src="{% static 'js/occupied_dates.js' %}"></script> {% endcomment %}
{% comment %} {% endblock script %} {% endcomment %}