{% extends 'base/base_customer.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'js/update_job.js' %}"></script>
{% endblock script %} 

{% block header %}
    <h1>Registrar cita</h1>
{% endblock header %}

{% block content %}

{% if user_vehicles %}
    <form method="POST" class="confirm-form">
        {% csrf_token %}
    
        {% for f in form %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
            {% if form.errors %}
                {% for error in f.errors %}
                    <div class="alert alert-danger mb-2 p-0  mx-auto w-50 text-center">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

        <div class="mx-auto text-center mt-5 mb-3">
            <button class="btn btn-success confirm-button" type="submit"
            data-action-key="confirm"
            data-title-key="register" >
                Registrar Cita
            </button>
            <a class="btn btn-primary" href="{% url 'appointment' %}">
                Lista de citas
            </a>
        </div>
    </form>


{% else %}
    <form method="POST" disabled>
        {% csrf_token %}
        <div class="mx-auto text-center mb-3">
            <li class="alert alert-danger pb-0 pt-2 text-center">Primero debes registrar un vehículo antes de crear una cita.</li>
            <a class="btn btn-sm btn-primary" href="{% url 'register_vehicle' %}">
                Registrar Vehículo
            </a>
        </div>
        
        {% for f in form %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %}

        <div class="mx-auto text-center mb-3">
            <button class="btn btn-secondary"type="submit" disabled>
                Registrar Cita
            </button>
            <a class="btn btn-primary" href="{% url 'appointment' %}">
                Lista de citas
            </a>

        </div>
    </form>
    {% endif %}
    
 
    {% comment %} {% if existing_appointment %}
        <li class="alert alert-danger mt-5 pb-0 pt-2 text-center">{{ error }}</li>
    {% endif %} {% endcomment %}

    {% if form.non_field_errors %}
        <li class="alert alert-danger mt-5 pb-0 pt-2 text-center">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </li>
    {% endif %}


{% endblock content %}

