{% extends 'base.html' %}
{% load static %}


{% block login %}
<div class="fondo-login">

<div class="mx-auto my-auto mb-5">
<br>
<form action="" method="POST" class="form-login-container justify-content-center mt-5 flex-shrink-0">
    {% csrf_token %}
    
    <div class="form-login pt-4 ps-2 mx-auto border border-primary rounded">
        <h1 class="text-center mb-3">Formulario de registro</h1>
        {% comment %} {{form_register.as_p}} {% endcomment %}

        {% for f in form_register %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control border-0">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %}

        <ul class="info-password list-group mb-3 p-3 mx-auto">
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña debe contener al menos 8 caracteres.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser una clave utilizada comúnmente.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser completamente numérica</li>
        </ul>
        {% if error %}
            <li class="list-group-item list-group-item-warning mx-3">{{error}}</li>
        {% endif %}
        <div class="text-center mt-3">
            <button class="btn btn-primary mb-3">
                Registrarse
            </button>
            <p>Ya tienes cuenta, <a href="{% url "signin" %}">Iniciar Sesión</a></p>
        </div>

    </div>
</form>
</div>
{{error}}

</div>
{% endblock login %}

