{% extends base_template %}

{% block header %}
    <h1>Mis datos</h1>
{% endblock header %}

{% block content %}

<form action="" method="POST" class="confirm-form">
    {% if form_update %}
        
        {% csrf_token %}

        {% for f in form_update %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %}
        <ul class="info-password list-group mb-3 p-3 mx-auto">
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña debe contener al menos 8 caracteres.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser una clave utilizada comúnmente.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser completamente numérica</li>
        </ul>

    {% else %}
        {{ error }}
    {% endif %}
    
    <div class="mx-auto text-center">
        <button class="btn btn-success mt-3 confirm-button" data-action="confirm" data-prevent-default="false" type="submit">
            Modificar datos
        </button>

        <a class="btn btn-primary mt-3" href="{% url 'user_data' %}">
            Volver a mis datos
        </a>
    </div>
    
</form>



{% endblock content %}