{% extends 'base_recepcionist.html' %}
{% load static %}

{% block header %}
    <h1>Listado de trabajos del día:  {{ current_date }}</h1>
{% endblock header %}

{% block content %}
   
    {% if list_jobs_diary %}
        
        {% for job in list_jobs_diary %}
        {% if not job.appointment.completed and job.appointment.inprogress %}

        <article class="jobs row border rounded shadow mb-3 p-1 ps-3">
            <ul class="list-group mt-2">
                <li class="list-group-item list-group-item-success">&#127380; Cita: ({{ job.appointment.id }})  &#8470; Orden Trabajo: {{ job.id }}</li>
                <li class="list-group-item">{{ job }}</li>
                <li class="list-group-item">Estado: {{ job.status }}</li>
                <li class="list-group-item">Detalles del Trabajo: {{ job.description_job }}</li>
            </ul>

            <div class="btn-jobs justify-content-between text-center py-3">
                <a class="btn btn-info custom-btn mb-2" href="{% url 'checklist' job.id %}">
                    CheckList
                </a>
                <a class="btn btn-warning custom-btn mb-2" href="{% url 'update_job' job.id %}">
                    Agregar 
                </a>   
    
                <form action="{% url 'delete_job_inprogress' job.appointment.id 'inprogress' %}" method="POST" class="d-inline confirm-form">
                    {% csrf_token %} 
                    <button class="btn btn-danger custom-btn mb-2 confirm-button" data-action="delete">
                        Cancelar
                    </button>
                </form>
            
                {% if job.status.id == 7 %}
                <form action="{% url 'completed_job' job.id %}" method="POST" class="d-inline confirm-form"> 
                    {% csrf_token %} 
                    <button class="btn btn-success custom-btn mb-2 confirm-button" data-action="confirm">
                        Finalizar
                    </button>
                </form>
            
                {% else %}
                <button class="btn btn-outline-success custom-btn mb-2" disabled>
                    Finalizar
                </button>
        
                {% endif %}
            </div>      

        {% endif %}
        {% endfor %}
            </ul>
        </article>

    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error_diary }}</li>
    {% endif %}
   

{% endblock content %}