{% extends 'base_recepcionist.html' %}
{% load static %}

{% block header %}
    <h1>Listado de Citas Pendientes</h1>
{% endblock header %}

{% block script %}
    <script src={% static 'js/update_job.js' %}></script>
{% endblock script %}

{% block content %}

    {% if list_appointments %}
        {% for date in list_appointments %}
        {% if not date.inprogress and date.date_finished is None %}

        <article class="jobs row border rounded shadow mb-3 p-1 ps-3">
            <ul class="list-group mt-2">
                <li class="list-group-item list-group-item-secondary">&#127380; Cita: {{ date.id  }}
                    <form id="cancel-form" action="{% url 'delete_job_pending' date.id 'pending' %}" method="POST" class="float-end confirm-form">
                        {% csrf_token %} 
                        <input type="hidden" name="description_job_cancel" id="description_job_cancel">
                        <button class="btn btn-sm btn-danger confirm-button" data-action="delete" onclick="captureDescriptionJob()">
                            Cancelar Cita
                        </button>
                    </form>
                </li>
                <li class="list-group-item">{{ date }}</li>
                {% if date.description_customer %}
                <li class="list-group-item">Descripción del Cliente: {{ date.description_customer }}</li>
                {% else %}
                <li class="list-group-item">Descripción del Cliente: Sin descripción</li>
                {% endif %}
            </ul>

  
            <form id="form-pending" method="POST" action="{% url 'generate_ot' date.id %}" class="confirm-form form-job-pending">
                {% csrf_token %}

                {% comment %} <div class="job-pending input-group">
                    <span class="input-group-text" >{{ form_job.description_job.label_tag }} <span class="badge bg-dark text-wrap mx-2 fst-italic">Descripción de trabajo o de cancelado</span></span>
                    {{ form_job.description_job }}
                </div> {% endcomment %}
                <div class="job-pending input-group justify-content-center">
                    {{ form_job.description_job.label_tag }} <span class="badge bg-dark text-wrap mx-2 fst-italic">Descripción de trabajo o de cancelado</span>
                </div> 
                <div class="job-pending input-group justify-content-center">
                    {{ form_job.description_job }}
                </div>

                {% comment %} <script>
                    const autoResizeTextarea = document.querySelector("textarea");
                    autoResizeTextarea.addEventListener("keyup", e =>{
                        let height = e.target.scrollHeight;
                        autoResizeTextarea.style.height = `${height}px`;
                    });
                </script> {% endcomment %}

                <div class="text-center mx-auto my-3">
                    <button class="btn btn-success confirm-button" data-action="confirm" >
                        Generar Trabajo
                    </button>
                </div>
            </form>
                
        </article>
        {% endif %}
        {% endfor %}

    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error }}</li>
    {% endif %}
    

{% endblock content %}

