{% extends 'base_recepcionist.html' %}

{% block header %}
    <h1>Patente o Cita Buscada</h1>
{% endblock header %}

{% block content %}
    {% if search and patent %}
        {% comment %} {{ search }} {% endcomment %}
        <h3 class="text-center">~Patente: {{ data }}~</h3>
        {% for job in patent %}
            <article class="jobs row border rounded shadow mb-3 p-1 ps-3">
                <ul class="list-group mt-2">
                    <li class="list-group-item list-group-item-dark">&#127380; Cita: ({{ job.appointment.id }})</li>
                    <li class="list-group-item">{{ job }}</li>
                    <li class="list-group-item">Estado: {{ job.status }}</li>
                    <li class="list-group-item">Detalles del Trabajo: {{ job.description_job }}</li>
                </ul>
            
                <div class="btn-jobs justify-content-between text-center py-3">
    
                    <a class="btn btn-info custom-btn mb-2" href="{% url 'checklist' job.id %}">
                        CheckList
                    </a>
                    <a class="btn btn-warning custom-btn mb-2" href="{% url 'update_job' job.id %}">
                        Agregar 
                    </a>   
                
                    {% if job.status.id == 7 or job.status.id == 8 %}

                    <button class="btn btn-outline-danger custom-btn mb-2" disabled>
                        Cancelar
                    </button>
                    <button class="btn btn-outline-success custom-btn mb-2" disabled>
                        Finalizar
                    </button>
                
                    {% else %}
                    <form action="{% url 'delete_job_inprogress' job.appointment.id 'inprogress' %}" method="POST" class="d-inline confirm-form">
                        {% csrf_token %} 
                        <button class="btn btn-danger custom-btn mb-2 confirm-button" data-action="delete">
                            Cancelar
                        </button>
                    </form>

                    <form action="{% url 'completed_job' job.id %}" method="POST" class="d-inline confirm-form"> 
                        {% csrf_token %} 
                        <button class="btn btn-success custom-btn mb-2 confirm-button" data-action="confirm">
                            Finalizar
                        </button>
                    </form>
                    {% endif %}
                    
                </div>      
            </article>
        {% endfor %} 

    
    {% elif search and date %}
        {% for job in date %}
            <article class="jobs row border rounded shadow mb-3 p-1 ps-3">
                <ul class="list-group mt-2">
                    <li class="list-group-item list-group-item-dark">&#127380; Cita: ({{ job.appointment.id }})</li>
                    <li class="list-group-item">{{ job }}</li>
                    <li class="list-group-item">Estado: {{ job.status }}</li>
                    <li class="list-group-item">Detalles del Trabajo: {{ job.description_job }}</li>
                </ul>
            
                <div class="btn-jobs justify-content-between text-center py-3">
        
                    <a class="btn btn-info custom-btn mb-2" href="{% url 'checklist' job.id %}">
                        CheckList
                    </a>

                    <a class="btn btn-warning custom-btn mb-2" href="{% url 'update_job' job.id %}">
                        Agregar 
                    </a>   
        
                    {% if job.status.id == 7 or job.status.id == 8 %}
                    <button class="btn btn-outline-danger custom-btn mb-2" disabled>
                        Cancelar
                    </button>
                    <button class="btn btn-outline-success custom-btn mb-2" disabled>
                        Finalizar
                    </button>
                
                    {% else %}
                    <form action="{% url 'delete_job_inprogress' job.appointment.id 'inprogress' %}" method="POST" class="d-inline confirm-form">
                        {% csrf_token %} 
                        <button class="btn btn-danger custom-btn mb-2 confirm-button" data-action="delete">
                            Cancelar
                        </button>
                    </form>
                    <form action="{% url 'completed_job' job.id %}" method="POST" class="d-inline confirm-form"> 
                        {% csrf_token %} 
                        <button class="btn btn-success custom-btn mb-2 confirm-button" data-action="confirm">
                            Finalizar
                        </button>
                    </form>
                    {% endif %}
                    
                </div>      
            </article> 
        {% endfor %} 
    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error }}</li>
    {% endif %}
{% endblock content %}

