{% extends 'base_recepcionist.html' %}

{% block header %}
    <h1>Actualizar Mecánico</h1>
{% endblock header %}

{% block content %}

    <form method="POST" class="confirm-form" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for f in form_update %}
            <div class="forms-mechanics input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %}     

        <div class="text-center mx-auto mt-3">
            <button class="btn btn-warning mt-3 confirm-button" data-action="confirm" type="submit">
                Actualizar
            </button>
            <a class="btn btn-primary mt-3" href="{% url 'list_mechanic' %}">
                Mecánicos
            </a>
        </div>
    </form>

    
{% endblock content %}