{% extends 'base_customer.html' %}

{% block header %}
    <h1>Citas</h1>
{% endblock header %}

{% block content %}

    {% if list_dates %}
        {% for date in list_dates %}
        <li class="list-group-item d-flex justify-content-between border mb-3">
            <div class="row col-12 text-center">

                <div class="col-md-4 col-sm-12">
                {{ date.vehicle.brand|capfirst }}
                {{ date.vehicle.model|capfirst }}
                Patente: {{ date.vehicle.patent }}
                </div>
                <div class="col-md-4 col-sm-12">
                {{ date.date_register }}
                {{ date.attention }}
                </div>
                <div class="col-md-4 col-sm-12">
                    <form action="{% url 'cancel_appointment' date.id %}" method="POST" class="confirm-form">
                        {% csrf_token %}

                        {% if date.inprogress or date.date_finished is not None %}
                        <button class="btnCancel btn btn-sm btn-outline-danger" disabled>
                            Cancelar Cita
                        </button>
                        {% else %}
                        <button class="btnCancel btn btn-sm btn-danger confirm-button" data-action="delete">
                            Cancelar Cita
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}

    {% else %}
        <li class="list-group-item list-group-item-warning mb-5">{{ error }}</li>
    {% endif %}




<div class="mx-auto text-center mt-5">
        <a class="btn btn-primary mt-3" href="{% url 'register_date' %}">
            Registrar nueva Cita
        </a>
        <a class="btn btn-primary mt-3" href="{% url 'register_vehicle' %}">
            Registrar nuevo Vehículo
        </a>
</div>


{% endblock content %}


