{% extends 'base_customer.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'js/api.js' %}"></script>
{% endblock script %}


{% block header %}
    <h1>Registrar vehículo</h1>
{% endblock header %}

{% block content %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}

    <form method="POST" class="confirm-form" id="form_vehicle">
        {% csrf_token %}
        
        {% comment %} {% for f in form %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %} {% endcomment %}
        
        
        <!-- Campos visibles para la selección de usuario -->
        <div class="input-group mb-3 justify-content-center">
            <label class="label " for="id_brand">
                Marca:
                <select id="id_brand" name="brand" class="form-control p-1">
                    <option value="">Seleccione una marca...</option>
                    <!-- Las opciones se llenarán con JavaScript -->
                </select>
            </label>
        </div>
        {% if form.errors.brand %}
            <div class="alert alert-danger mb-2 p-0  mx-auto w-50 text-center">{{ form.errors.brand }}</div>
        {% endif %}
        
        <div class="input-group mb-3 justify-content-center">
            <label class="label" for="id_model">
                Modelo:
                <select id="id_model" name="model" class="form-control p-1">
                    <option value="">Seleccione un modelo...</option>
                    <!-- Las opciones se llenarán con JavaScript -->
                </select>
            </label>
        </div>
        {% if form.errors.model %}
            <div class="alert alert-danger mb-2 p-0  mx-auto w-50 text-center">{{ form.errors.model }}</div>
        {% endif %}
        
        <div class="input-group mb-3 justify-content-center">
            <label class="label" for="id_year">
                Año:
                <select id="id_year" name="year" class="form-control p-1">
                    <option value="">Seleccione un año...</option>
                    <!-- Las opciones se llenarán con JavaScript -->
                </select>
            </label>
        </div>
        {% if form.errors.year %}
            <div class="alert alert-danger mb-2 p-0  mx-auto w-50 text-center">{{ form.errors.year }}</div>
        {% endif %}
        
        <div class="input-group mb-3 justify-content-center">
            <label class="label" for="id_patent">
                Patente:
                <input type="text" name="patent" id="id_patent" class="form-control" value="{{ f.patent }}">
            </label>
        </div>
        {% if form.errors.patent %}
            <div class="alert alert-danger mb-2 p-0  mx-auto w-50 text-center">{{ form.errors.patent }}</div>
        {% endif %}

        

        <!-- Indicador de carga (puedes usar un spinner aquí) -->
        {% comment %} <div id="loadingIndicator" class="text-center alert alert-warning mt-5 pb-0 pt-2" style="display: none;">Cargando modelos...</div> {% endcomment %}
  

        <div class="mx-auto text-center">
            <button class="btn btn-success mt-3 confirm-button" type="submit"
            data-action-key="confirm"
            data-title-key="register" >
                Registrar vehículo
            </button>

            <a class="btn btn-primary mt-3" href="{% url 'vehicle' %}">
                Volver a lista vehículos
            </a>
        </div>

        {% comment %} {% if form.errors.patent %}
            <div class="alert alert-danger mt-5 pb-0 pt-2">{{ form.errors.patent }}</div>
        {% endif %} {% endcomment %}
        {% comment %} {% if form.errors %}
            <div class="alert alert-danger mt-5 pb-0 pt-2">
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %} {% endcomment %}

    </form>
    

{% endblock content %}

