{% extends 'base_customer.html' %}

{% block header %}
    <h1>Modificar vehículo</h1>
{% endblock header %}

{% block content %}

    <form method="POST" class="confirm-form">
        {% csrf_token %}

        {% for f in form %}
            <div class="input-group mb-3 justify-content-center">
                <div class="label">
                    <span class="form-control bg-light">
                        {{ f.label_tag }}
                        {{ f }}
                    </span>
                </div>
            </div>
        {% endfor %}
        
       
        <div class="mx-auto text-center">
            <button class="btn btn-success mt-3 confirm-button" data-action="confirm" type="submit">
                Modificar vehículo
            </button>

            <a class="btn btn-primary mt-3" href="{% url 'vehicle' %}">
                Volver a lista vehículos
            </a>
        </div>

        {% if form.errors.patent %}
            <div class="alert alert-danger mt-5 pb-0 pt-2">{{ form.errors.patent }}</div>
        {% endif %}

    </form>
    

{% endblock content %}