{% extends 'base_customer.html' %}

{% block header %}
    <h1>Vehículos</h1>
{% endblock header %}

{% block content %}

    <p>
        <div class="text-center mb-2 ">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Información
            </a>
        </div>
        {% comment %} <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
        </button> {% endcomment %}
    </p>
    <div class="collapse mb-2" id="collapseExample">
        <div class="card card-body text-center ">
            Tienes tu listado de citas separado por vehículo registrado. Estas citas indican el número de cita asociada que tiene al trabajo. <br>
            Además se muestra el color del estado en que se encuentra el mantenimiento, en donde :
            <div class="btn-group-vertical  mx-auto">
                <a href="#" class="btn btn-sm p-0 btn-info">Muestra las citas en estado de espera o en pregreso de ejecución.</a>
                <a href="#" class="btn btn-sm p-0 btn-success">Muestra las citas en estado de finalizadas.</a>
                <a href="#" class="btn btn-sm p-0 btn-danger">Muestra las citas canceladas o eliminadas.</a>
                <a href="#" class="btn btn-sm p-0 btn-secondary">Sin citas registradas.</a>
            </div>
        </div>
    </div>

  
    {% if list_vehicle %}
        <!-- Identificar si existen vehiculos -->
        <article class="table-responsive rounded">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Vehículo</th>
                        <th scope="col">Patente</th>
                        <th scope="col" class="text-end">Modificar o Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in list_vehicle %}
                    {% if vehicle.is_active == True %}
                    <tr>
                        <td style="width: 150px;">
                            {{ vehicle.brand|capfirst }} 
                            {{ vehicle.model|capfirst }} 
                        </td>
                        <td style="width: 100px;">{{ vehicle.patent }}</td>
                        <td style="width: 100px;" class="text-end">
                            <a href="{% url 'update_vehicle' vehicle.id %}" class="btn btn-sm py-0 me-3 btn-warning">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <form action="{% url 'delete_vehicle' vehicle.id %}" method="POST" class="confirm-form d-inline">
                                {% csrf_token %}
                                <button class="btn btn-sm py-0 btn-danger confirm-button" 
                                data-action-key="delete"
                                data-title-key="confirm" >
                                    <!-- Eliminar Vehículo -->
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr class="border-bottom border-dark">
                        <th colspan="1" >Estado Vehículo</th>
                        <td colspan="2" style="white-space: wrap;">
                            <!-- appointment_set permite acceder a las relaciones del vehiculo con las citas -->

                            {% if vehicle.appointment_set.all  %}
                                {% for appointment in vehicle.appointment_set.all %}

                                {% if not appointment.date_finished and not appointment.completed %}
                                    <a class="btn btn-sm py-0 btn-info mt-2" style="width: 140px;"
                                    href="{% url 'state_vehicle' appointment.id %}">
                                        ID Cita ( {{ appointment.id }} )
                                    </a>
                                {% elif appointment.date_finished and appointment.completed %}
                                    <a class="btn btn-sm py-0 btn-success mt-2" style="width: 140px;"
                                    href="{% url 'state_vehicle' appointment.id %}">
                                        ID Cita ( {{ appointment.id }} )
                                    </a>
                                {% elif appointment.date_finished and not appointment.completed %}
                                    <a class="btn btn-sm py-0 btn-danger mt-2" style="width: 140px;"
                                    href="{% url 'state_vehicle' appointment.id %}">
                                        ID Cita ( {{ appointment.id }} )
                                    </a>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                            <a href="#" class="btn btn-sm py-0 btn-secondary mt-2">
                                No hay citas registradas
                            </a>
                            {% comment %} <p>Sin citas registradas</p> {% endcomment %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </article>

    {% else %}
        <li class="list-group-item list-group-item-warning mb-5">{{ error }}</li>
    {% endif %}


<div class="mx-auto text-center mt-5">
        <a class="btn btn-primary mt-3"href="{% url 'register_vehicle' %}">
            Registrar nuevo Vehículo
        </a>
        <a class="btn btn-primary mt-3" href="{% url 'register_date' %}">
            Registrar nueva Cita
        </a>
</div>


{% endblock content %}



    <!-- Identificar si existen vehiculos -->
    {% comment %} {% for vehicle in list_vehicle %}
    <div class="card text-center">
        <div class="card-header">
            {{ vehicle.brand|capfirst }} 
            {{ vehicle.model|capfirst }} 
            Patente: {{ vehicle.patent }}
        </div>
        <div class="card-body">
            <h5 class="card-title fst-italic ">~Estado de citas del vehículo~</h5>
            
            
            <!-- appointment_set permite acceder a las relaciones del vehiculo con las citas -->
            {% for appointment in vehicle.appointment_set.all %}
            {% if appointment.inprogress and appointment.job_set.all %}
                <a class="btn btn-sm py-0 btn-primary mt-3" href="{% url 'state_vehicle' appointment.id %}">
                        ID Cita:({{ appointment.id }}) Estado
                </a>
            {% elif appointment.inprogress and not appointment.job_set.all %}
                <button class="btn btn-sm py-0 btn-outline-danger mt-3">
                    ID Cita:({{ appointment.id }}) Eliminada            
                </button>
            {% else %}
                <button class="btn btn-sm py-0 btn-outline-primary mt-3" disabled>
                    ID Cita:({{ appointment.id }}) En espera            
                </button>
            {% endif %}
            {% endfor %}
            <br>
            <form action="{% url 'delete_vehicle' vehicle.id %}" method="POST" class="confirm-form">
                {% csrf_token %}
                <button class="btn btn-sm py-0 btn-danger mt-3 confirm-button" data-action="delete">
                    Eliminar Vehículo
                </button>
            </form>
        </div>
    </div>
    {% endfor %} {% endcomment %}